@import url('https://fonts.googleapis.com/css?family=Roboto');
@charset "UTF-8";

body {
    background:url(../img/background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

.content{
color:#fff;
}

.content p{
color:#fff;
font-size:12px;
}


h1{
font-size:30px;
 text-align: center;
 color:#fff;
 font-size:40px;
}

h2{
font-size:40px;
 text-align: center;
 color:#fff;
}

h3{
 font-family: 'Roboto', sans-serif;
font-weight:100px;
font-size:20px;
 text-align: center;
 color:#fff;
}
h4{
font-size:20px;
 text-align: center;
 color:#fff;
}
h5{
font-size:25px;
 text-align: center;
 color:#fff;
}
/* Add animation to "page content" */
#loader img{ 
  display: block;
  margin-top: 180px;
  margin-left: auto;
  margin-right: auto;
height:50%;
width:50%;
}

img{
height:50%;
width:50%;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position:;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align:;
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  /* centers the loading animation horizontally one the screen */
  top: 65%;
  /* centers the loading animation vertically one the screen */
  background-image: url(../img/spinnerx.gif);
  /* path to your loading animation */
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
  /* is width and height divided by two */
}

.logo1 img{
 width: 80%;
  height: 80%;
}

.weather {
 text-align: center;
}

.weather2 {
 text-align: center;
  padding-left:30px;
}

.weather2 img {
 text-align: center;
 width: 40%;
  height:40%;
}

.weatherSection{
text-align: center;
color:#fff;
width:10%;
}

